In [158]:
import numpy as np
from scipy.special import expit

In [159]:
class LogisticRegression:

    def __init__(self,lr=0.001,n_iter=1000):
        self.lr = lr
        self.n_iter = n_iter
        self.weight = None
        self.bias = None

    def fit(self,X,y):
        n_samples , n_features = X.shape
        self.weight = np.zeros(n_features)
        self.bias = 0

        for _ in range(self.n_iter):
            y_pred_linear = np.dot(X,self.weight) + self.bias
            y_pred_logistic = self.sigmoid(y_pred_linear)
            dw = (1/n_samples) * np.dot(X.T , (y_pred_logistic-y))
            db = (1/n_samples) * np.sum(y_pred_logistic-y)
            self.weight -= self.lr*dw
            self.bias -= self.lr*db


    def predict(self , X):
        y_pred_linear = np.dot(X,self.weight) + self.bias
        y_pred = self.sigmoid(y_pred_linear) # [0.3 , 0.6 , 0.5]
        y_pred_new = [1 if i > 0.5 else 0 for i in y_pred]
        return y_pred_new
    
    def sigmoid(self,x):
        return (1 / (1 + np.exp(-x)))

In [160]:
import pandas as pd
df = pd.read_csv('Social_Network_Ads.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [161]:
df.drop(columns='User ID' , inplace=True)

In [162]:
df['Gender'] = df['Gender'].map({'Male':1,'Female':0})

In [163]:
df.head()

   Gender  Age  EstimatedSalary  Purchased
0       1   19            19000          0
1       1   35            20000          0
2       0   26            43000          0
3       0   27            57000          0
4       1   19            76000          0

In [164]:
X = df.drop(columns='Purchased')
y = df['Purchased']

In [165]:
from sklearn.model_selection import train_test_split
X_train , X_test, y_train, y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [166]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [167]:
model = LogisticRegression(lr=0.01,n_iter=3000)
model.fit(X_train,y_train)

In [168]:
y_pred = model.predict(X_test)

In [169]:
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

88.75